# Ignore all files/folders in root except backend/, frontend/, and the 3 core files
/*
!/backend/
!/frontend/
!/.gitignore
!/README.md
!/deploy_cloud_run.py

# Ignore Next.js / Node / python cache files inside backend and frontend
**/node_modules/
**/.next/
**/__pycache__/
**/*.pyc
**/.pytest_cache/
**/*.pem
**/*.tar.gz
**/*.DS_Store
**/venv/
**/.venv/
**/logs/

# Ignore test files and local dev configurations
backend/tests/
backend/scripts/test_email_zoho.py
backend/redeploy-guide.md
backend/Procfile
backend/stream

# Ignore all markdown files except root README.md
**/*.md
!/README.md